.aboutBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  gap: 250px;
  margin: 50px auto;
}

.author {
  display: flex;
  align-items: flex-end;
}
.author h1 {
  font-size: 44px;
  letter-spacing: -3px;
}

.author p {
  margin: 0 10px 38px 0;
  font-size: 34px;
  letter-spacing: -1.5px;
}

.desc {
  width: 558px;
  font-size: 26px;
  letter-spacing: -0.5px;
}

.pic img {
  height: 600px;
  width: 400px;
}