:root {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: var(--ivory);
  background-color: var(--prblue);
  
  background-image: url('./assets/cbg2.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100% auto;
  background-attachment:fixed;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* theme one*/
  --wine: #773344;
  --pale-dogwood: #E3B5A4;
  --linen: #F5E9E2;
  --licorice: #0B0014;
  --indian-red: #D44D5C;
  
  /* theme two */
  --tea: #C3DBC5;
  --taupe: #795C5F;
  --vanilla: #F2E29F;
  --umber: #725E54;
  --sage: #C9C19F;
  --nyanza: #EDF7D2;
  --viridian: #2A7F62;
  
  /* third and final theme */
  --bittersweet: #E3655B;
  --maize: #FDE75F;
  --ivory: #FBFFF1;
  --skye: #6CCFF6;
  --prblue: #253d5b;
}

:root::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  top: 0;
}

.home-body {
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  overflow-y:scroll;
}

.home-body::-webkit-scrollbar {
  display: none;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 6px;
}

.project-list {
  height: 80vh;
  width: 80%;
  margin: 50px auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  overflow-y:scroll;
}

.project-list::-webkit-scrollbar {
  display: none;
}

section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}









