:root {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: var(--ivory);
  background-color: var(--prblue);
  /* background: rgb(119,51,68);
  background: linear-gradient(90deg, rgba(119,51,68,1) 0%, rgba(245,233,226,1) 10%); */
  
  background-image: url('./assets/cbg2.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment:fixed;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* third and final theme */
  --bittersweet: #E3655B;
  --maize: #FDE75F;
  --ivory: #FBFFF1;
  --skye: #6CCFF6;
  --prblue: #253d5b;
  
  /* theme two */
  --tea: #C3DBC5;
  --taupe: #795C5F;
  --vanilla: #F2E29F;
  --umber: #725E54;
  --sage: #C9C19F;
  --nyanza: #EDF7D2;
  --viridian: #2A7F62;
  
  /* theme one*/
  --wine: #773344;
  --pale-dogwood: #E3B5A4;
  --linen: #F5E9E2;
  --licorice: #0B0014;
  --indian-red: #D44D5C;
}

/* html {
  scroll-snap-type: y mandatory;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  top: 0;
}

nav {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--ivory);
  text-align: center;
  /* background-color: var(--wine) */
  /* scroll-snap-align: start; */
  position: fixed;
  width: 180px;
  padding: 0 100px 0 80px;
  height: 80px;
  border-radius: 0 0 70px 70px;
  margin-right: 20px;
  top: 0;
  right: 0;
  z-index: 1;
  /* rotate: 45deg; */
  transform: translate(0);
}

.resume-img {
  /* background-color: #D44D5C; */
  /* padding: 40px; */
  /* border-radius: 40%; */
  height: 50px;
  width: 50px;
  /* margin-bottom: 0; */
  transform: translate(-140px, 40px) rotate(-45deg);

}

.tabs {
  display: flex;
  /* transform: translate(-25px, 30px); */
  width: 250px;
  text-align: center;
}

nav p {
  text-align: center;
  width: 100px;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: var(--prblue);
  margin: 0 40px 0 0;
  padding: 4px 12px;
  font-size: 28px;
  font-weight: 900; 
  letter-spacing: -2px;
  width: 100px;
  transition: transform 200ms ease-in;
  border-radius: 70px;
  
}

nav a:hover {
  
  background-color: var(--prblue);
  color: var(--ivory);
  
}

nav a:focus {
  
  background-color: var(--prblue);
  color: var(--ivory);
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  gap: 250px;
  margin: 50px auto;
}

.author {
  display: flex;
  align-items: flex-end;
}
.author h1 {
  font-size: 44px;
  letter-spacing: -3px;
}

.author p {
  margin: 0 10px 38px 0;
  font-size: 34px;
  letter-spacing: -1.5px;
}

.desc {
  width: 558px;
  font-size: 26px;
  letter-spacing: -0.5px;
}

.pic img {
  height: 600px;
  width: 400px;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 6px;
  /* border: 2px solid white; */
}

.project-list {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* gap: 50px; */
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  /* margin: 100px 0; */
  /* gap: 100px; */
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.project-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  height: 225px;
  width: 650px;
  border: 10px solid var(--skye);
  border-radius: 70px;
  color: var(--prblue);
  background-color: var(--ivory);
  /* background-color: #e3b5a45d; */
  padding: 0 0 0 0;
  margin: auto 0;

  overflow: hidden;
}

.project-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
}

#ad {
  translate: 300px -50px;
  /* top: 0;
  left: 0; */
}

#bd {
  translate: -300px 50px;
  /* bottom: 0;
  right: 0; */
}

.project-img-container #project-img {
  width: 650px;
  height: 235px;
  margin: 0;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid var(--skye);

  transition: transform 1500ms, filter 2000ms ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
}

.project-img-container:hover #project-img {
  filter: blur(0);
  transform: scale(1);

}

.project-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 550px;
  margin: -6px 0 0 -10px;
  padding: 0 20px;
  background-color: var(--ivory);
  color: var(--prblue);
  border-radius: 70px;
  /* text-align: center; */
}

.project-desc h1 {
  letter-spacing: -3px;
  font-size: 40px;
  font-weight: 650;
  margin: 0;
}

.project-desc p {
  letter-spacing: -0.5px;
  text-align: center;
  width: 450px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--maize);
  height: 90px;
  width: 220px;
  border-radius: 70px;
  margin: -2px -75px 0 0;
  z-index: 2;
  transition: transform 500ms, box-shadow 500ms ease-in-out;
}

.project-link:hover {
  transform: scale(1.05) translate(5px, 0);
  box-shadow: 1px 2px 3px black;
}

/* .project-desc:nth-child(4) {
  margin-top: 5px;
} */

.contributor {
  margin: 0;
}

#github-link {
  height: 65px;
  width: 185px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* align-self: flex-start; */
  /* margin:0 0 10px 10px; */
  /* padding: 10px 0; */
  position:absolute;
  /* bottom: 0; */
  background-color: var(--bittersweet);
  border-radius: 70px;
  border: 0.5px solid var(--maize);
  /* transition: transform 500ms, box-shadow 500ms ease-in-out; */
}

#github-link:hover {
  /* transform: scale(1.2), translate(5px, 0);
  box-shadow: -1px 2px 3px black; */
}

.contact {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.contact div {
  background-color: var(--ivory);
  padding: 24px 10px 0 10px;
  border-radius: 50px 50px 0 0;
}

.contact img {
  height: 50px;
  width: 50px;
  margin: 0 15px 15px 15px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skills h1 {
  font-size: 60px;
  font-weight: 650;
  letter-spacing: -3px;
}

.skills-list {
  display: flex;
  gap: 50px;
  font-size: 26px;
  letter-spacing: -0.5px;
}

.skills-list div {
  text-align: center;
  width: 225px;
}

.skills-list p {
  background-color: var(--ivory);
  color: var(--prblue);
  padding: 20px 12px 30px 12px;
  border-radius: 70px;
  font-weight: 700;

}


